<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="shortcut icon" href="static/images/logo1.jpg" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" href="static/css/page_home.css" />
    
    <link rel="stylesheet" href="static/css/queries.css" />
  </head>
  <body>
    
    <button id="scroll-top">
      <i class="fas fa-arrow-up"></i>
    </button>
    
    <header>
      <nav>
        <a href="/" id="logo">DE Validateur</a>
        <i class="fas fa-bars" id="ham-menu"></i>
        <ul id="nav-bar">
          <li>
            <a href="/">Accueil</a>
          </li>
          <li>
            <a href="#features">À propos</a>
          </li>
          <li>
            <a href="#testimonial">Développeurs</a>
          </li>
          
        </ul>
      </nav>
    </header>
    <!------ Section: Hero ------>
    <section class="hero" id="home">
      <img src="static/images/header-shape.svg" id="header-shape" />
      <div class="hero-content">
        <h1>Validateur que tout le monde peut utiliser !</h1>
        <p>
          
        </p>
        <div class="btn-container">
          <a href="Register.html"><button class="primary-btn btn">Commencez maintenant</button></a>
          
        </div>
      </div>
      <div class="hero-img">
        <img src="static/images/hero.svg" />
      </div>
    </section>
    <!------ Section: Features ------>
    <section class="features" id="features">
      <h2>Ce qui rend DE Validateur unique </h2>
      <p class="section-desc">
        
      </p>
      <div class="row">
        <div class="column">
          <i class="fas fa-users"></i>
          <h3>Construit pour tout le monde</h3>
          <p>
            Facile et rapide,validation en un seul clic
          </p>
        </div>
        <div class="column">
          <i class="fas fa-file-alt"></i>
          <h3>Sa force</h3>
          <p>
            Supporte DTD et XML Schema internal ou external
          </p>
        </div>
        <div class="column">
          <i class="fas fa-thumbs-up"></i>
          <h3>Test</h3>
          <p>
            30 jours d'essai gratuit
          </p>
        </div>
      </div>
    </section>
    <!------ Section: Courses ------>
    <!--<section class="courses" id="courses">
      <h2>Our Popular Courses</h2>
      <p class="section-desc">
        With over 30,000 courses to choose from, check out out most popular
        courses.
      </p>
      <div class="row">
        <div class="column">
          <img src="public.jpg" />
          <h3>Public Speaking</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos facere
            voluptatibus natus. Amet, cupiditate illo?
          </p>
          <div class="courses-btn">
            <button class="btn secondary-btn">Learn More</button>
          </div>
        </div>
        <div class="column">
          <img src="photography.jpg" />
          <h3>Photography</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit nulla
            dolor nostrum animi veniam rem.
          </p>
          <div class="courses-btn">
            <button class="btn secondary-btn">Learn More</button>
          </div>
        </div>
        <div class="column">
          <img src="typing.jpg" />
          <h3>Typing</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            voluptatibus temporibus dolorem sit ipsam adipisci?
          </p>
          <div class="courses-btn">
            <button class="btn secondary-btn">Learn More</button>
          </div>
        </div>
      </div>
    </section>  -->
    <!------ Section: Testimonial ------>
    <section class="testimonial" id="testimonial">
      <h2>Membres de l'équipe</h2>
      <p class="section-desc">
        
      </p>
      <div class="row">
        <div class="column">
          <div class="testimonial-image">
            <img src="static/images/person-1.jpg" />
          </div>
          <p>
            Étudiante en Master Spécialisé Ingénierie des Systèmes d'Information
          </p>
          <h3>Essakhi Hamza</h3>
        </div>
        <div class="column">
          <div class="testimonial-image">
            <img src="static/images/person-3.jpg" />
          </div>
          <p>
            Étudiante en Master Spécialisé Ingénierie des Systèmes d'Information
          </p>
          <h3>Derai M'hamad</h3>
        </div>
      </div>
    </section>
    <!------ Section: Download App ------>
   <!-- <section class="download-app" id="download-app">
      <h2>Download Our App</h2>
      <p class="section-desc">
        Unloack all new amazing features with our mobile app.
      </p>
      <div class="row">
        <div class="column">
          <img src="static/images/download-app.png" />
        </div>
        <div class="column">
          <div class="app-feature">
            <div>
              <i class="fas fa-star"></i>
              <h3>Set Reminders</h3>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Excepturi autem accusamus accusantium officia?
            </p>
          </div>
          <div class="app-feature">
            <div>
              <i class="fas fa-star"></i>
              <h3>Download Lectures</h3>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Excepturi autem accusamus accusantium officia?
            </p>
          </div>
          <div class="app-feature">
            <div>
              <i class="fas fa-star"></i>
              <h3>30,000+ Lectures</h3>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Excepturi autem accusamus accusantium officia?
            </p>
          </div>
          <div class="download-btns">
            <a href="#google-play">
              <img src="static/images/google-play.png" />
            </a>
            <a href="#app-store">
              <img src="static/images/app-store.png" />
            </a>
          </div>
        </div>
      </div>
    </section>-->
    <!------ Footer ------>
    <footer>
      <div class="row footer-about">
        <h3>DE Validateur</h3>
        <p>
          
        </p>
        <div class="social-links">
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
      <div class="row footer-contact">
        <div class="column">
          <h4>Téléphone</h4>
          <p>+212 649329026</p>
        </div>
        <div class="column">
          <h4>Email</h4>
          <p>devalidateur@domain.com</p>
        </div>
      </div>
      <p class="footer-copyright">
        Copyright &copy; 2021 DE Validateur. Tous les droits sont réservés.
      </p>
    </footer>
    <!------ Script ------>
    <script src="static/js/script.js"></script>
  </body>
</html>
